<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand  -->
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink] ="['/recipe']"
               routerLinkActive="active">Recipe</a></li>
        <li><a [routerLink] ="['/shopping-list']"
                 routerLinkActive="active">Shopping</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"  >
        <li class="dropdown"  appDropdown>
            <a
            class="dropdown-toggle" role="button">Action<span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a >Save</a></li>
           <li><a >Fetch Data</a></li>
         </ul>
        </li>
      </ul>
    </div>

  </div>

</nav>
