<div class="col-xs-12 pl-1 pr-1 mb-2 border border-rounded bg-light">
  <a
    [routerLink]="['/recipe', id]"
    style="cursor:pointer"
    class="d-flex justify-content-between align-self-center"
  >
    <div>
      <h4 class="text-center text-uppercase font-text-bold color-primary">
        {{ recipe.name }}
      </h4>
      <p class="">{{ recipe.description }}</p>
    </div>
    <div>
      <img
        class="img-responsive"
        style="max-height: 80px;"
        [src]="recipe.imagePath"
        alt=""
      />
    </div>
  </a>
</div>
