<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="formRecipe" (ngSubmit)="onSave()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            name="button"
            [disabled]="formRecipe.invalid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-primary"
            name="button"
            (click)="onCancel()"
          >
            Clear
          </button>
        </div>
      </div>
      <!-- name -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name"> Name</label>
            <input
              id="name"
              class="form-control"
              type="text"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <!-- paht -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imgPath"> image Url</label>
            <input
              id="imagePath"
              class="form-control"
              type="text"
              formControlName="imagePath"
              #imgPath
            />
          </div>
        </div>
      </div>
      <!-- image preview -->

      <div class="row">
        <div class="col-xs-12">
          <img [src]="imgPath.value" class="img-responsive" />
        </div>
      </div>

      <!-- description -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description"> Description</label>
            <textarea
              id="description"
              class="form-control"
              type="text"
              formControlName="description"
              rows="6"
            >
            </textarea>
          </div>
        </div>
      </div>

      <!-- ingredients  -->
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="
              let ingredientCtr of formRecipe.get('ingredients');
              let in = index
            "
            [formGroupName]="in"
            style="margin-top:10px;"
          >
            <div class="col-xs-8">
              <input
                id="ingredientName"
                class="form-control"
                type="text"
                formControlName="name"
              />
              <!-- formControlName="ingredientName -->
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <button
              type="button"
              name="button"
              class="btn btn-success"
              (click)="addIngredient()"
            >
              Add New
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
