<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)=addIngredient(f)>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name"> Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 ngModel
                 name="ingredient_name"
                 required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount"> Amout</label>
          <input type="number"
                 id="amount"
                 class="form-control"
                ngModel
                 name="ingredient_amount"
                 required
                 [pattern]="'^[1-9]+[0-9]*'"
          >
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  type="submit"
              [disabled]="f.invalid"  >{{ editMode? "Update":"Add"}}</button>
          <button *ngIf="editMode" class="btn btn-danger" 
                  type="button"
                  (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
