<div>
  <button class="btn btn-success" (click)="onCreate()">New Recipe</button>
</div>
<hr />
<div *ngFor="let recipeEl of recipes; let id = index">
  <app-recipe-item
    [recipe]="recipeEl"
    [id]="id"
    (click)="recipeWasSelected(recipeEl)"
  >
  </app-recipe-item>
</div>
