<div class="d-flex flex-column p-2">
  <div *ngIf="!recipe" class="text-align-center">
    <h2>Please Select a recipe in the list</h2>
  </div>
  <div *ngIf="recipe">
    <img src="{{ recipe.imagePath }}" alt="" class="recipe-img" />

    <div class="d-flex justify-content-between align-content-center">
      <div class="pd-1 text-align-center">
        <h1>{{ recipe.name }}</h1>
      </div>
      <div>
        <div class="dropdown p-2">
          <button
            type="button"
            class="btn btn-primary dropdown-toggle"
            id="manageRecipe"
            data-toggle="dropdown"
          >
            Manage Recipe <span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="manageRecipe">
            <a class="dropdown-item" [routerLink]="['/shopping-list']">
              To Shopping list
            </a>
            <a class="dropdown-item" [routerLink]="['/recipe', id, 'edit']">
              Edit Recipe
            </a>
            <a class="dropdown-item" (click)="deleteRecipe()">
              Delete Recipe
            </a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <p>
        {{ recipe.description }}
      </p>
    </div>

    <h2 class="row">
      Ingredient
    </h2>
    <div
      class="row"
      *ngFor="let ingr of recipe.ingredients; let i = index"
      :key="i"
    >
      <div class="col-8">
        <h2>{{ ingr.name }} - ( {{ ingr.amount }} )</h2>
      </div>

      <div class="col-4">
        <button type="button" class="btn btn-primary btn-border">
          Edit
        </button>
        <button type="button" class="btn btn-danger btn-border ">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
